@use 'sass:map';


$theme-light: (
  'bg': white,
  'font': black,
  'link': red
);
  
$theme-dark: (
  'bg': black,
  'font': white,
  'link': white
);
    
[class*="theme-"] {
  transition: background .2s ease, color .2s ease;
}

.theme-light {
  --background: #{map.get($theme-light, 'bg')};
  --font-color: #{map.get($theme-light, 'font')};
  --link-color: #{map.get($theme-light, 'link')};
}

.theme-dark {
  --background: #{map.get($theme-dark, 'bg')};
  --font-color: #{map.get($theme-dark, 'font')};
  --link-color: #{map.get($theme-dark, 'link')};
}