@import '../../styles/variables/breakpoints';

.button {
  padding: 8px 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid transparent;
  box-sizing: border-box;
  font-size: var(--button-font-size);
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  transition: opacity .2s ease;

  &--primary {
    background-color: #33f;
    opacity: .8;
    color: white;
  }

  &--danger {
    background-color: red;
    color: white;
  }

  &:hover {
    opacity: 1;
  }

  @media screen and (max-width: $bp-mobile) {
    padding: 4px 10px; 
  }

}