.Clock {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 20px;
  color: var(--font-color);
  
  &__time, &__date {
    font-size: var(--clock-font-size);
    font-weight: 500;
  }
}
  