.Footer {
  height: 20px;
  width: 100%;
  text-align: center;
  color: var(--font-color);

  .link {
    color: var(--link-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }
}