body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100vw;
}

.theme-light {
  --background: white;
  --font-color: black;
}

.theme-dark {
  --background: black;
  --font-color: white;
}